body {
    background-image: url(C:\Users\Calvin\OneDrive\Desktop\wyncode\WynWeatherSite\WynWeatherSite\images\cloudy.jpg);
    text-align: center;
    display: inline-block;
    color: white;
    font-family: sans-serif;
}


.temperature {
    border: 1px solid black;
    font-size: larger;
    width: fixed;
    display: center;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .temperature {
      color: red;
  }
     
    }